
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
  color: #FD6E0A;
}

.dark-2{
  color:#474747;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title{
  font-weight: 800;
  font-size: 40px;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
/* banner-style */
.banner-greetings{
  font-size:30px;
  font-weight:600;
}
.banner-title{
  font-size:75px;
  font-weight:bold;
}