
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
  color: #FD6E0A;
}

.dark-2{
  color:#474747;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title{
  font-weight: 800;
  font-size: 40px;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.section-tittle{
  font-size: 30px;
  font-weight: bold;
  color:#181818;
}
.section-description{
  font-size: 18px;
  color:#757575;
}
.secondary-bg{
  background-color: #FFF8F3;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
  max-width: 580px;
}


.banner-greetings{
  font-size:30px;
  font-weight:600;
}
.banner-title{
  font-size:75px;
  font-weight:bold;
}
header{
  background-image: url(images/header_bg.png) ,url(images/developer.png);
  background-repeat: no-repeat;
  background-position:bottom right ,top left;
}
.about{
  border-radius: 10px;
  padding:130px 150px;
  text-align: center;
  margin-top: 130px;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
.about-items{
  display: flex;
  justify-content:space-between;
}
.about-description{
  font-weight: 600;
}
.section-tittle{
  font-weight:bold;
  font-size:35px;
  color:#181818;
}
.section-description{
  font-size:18px;
  color:#757575;
}
.text-center{
  text-align: center;
}
/* skills */
.skills-container{
  display: flex;
  gap: 25px;
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px black;
  border-radius: 10px;
}
/* resume */
.resume-container{
  display: flex;
  gap: 24px;
}
.experience{
  border-bottom: 1px solid #D1D1D1;
  padding: 10px;
}
.resume-column-title{
  padding: 10px;
}
section>h3 {
  text-align: center;
  padding: 50px;
  font-size: 36px;
  font-weight: bold;
}
.experience-description{
  color: #757575;
}
.experience-sub-title{
  color: #757575;
  font-size: 20px;
  font-weight: 600px;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
}
.resume-column-title{
  font-size: 30px;
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  margin: 40px;
}
/* footer styles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
 footer input[type="text"], footer input[type=email], footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}